<div class="container-fluid">
<div class="row">
  <div class="col-md-1"><h4>Queue</h4></div>
  <div class="col-md-2"><h4>Workers</h4></div> 
  <div class="col-md-3"><h4>Stats</h4></div> 
</div>
<div class="row" id="status">
</div>
</div>
